@using Microsoft.AspNetCore.Mvc.TagHelpers
@using System.Text.Json
@model IEnumerable<eLibrary.Models.Book>
@inject IHttpContextAccessor _context;
@{
    ViewData["Title"] = "iReadIt";
    Layout = "_Layout";
    var userName = _context.HttpContext.Session.GetString("userName");
    if (TempData["AlertMessage"] != null)
    {
        string msg = "";
        if (TempData["AlertMessage"].ToString().Equals("SUCCESS"))
        {
            msg = "'" + TempData["BookTitle"] + "' has been added to cart successfully.";
        }
        if (TempData["AlertMessage"].ToString().Equals("FAIL"))
        {
            msg = "Sorry, we don't have enough copies of '" + TempData["BookTitle"] + "' at the moment.";
        }
        var jsonMsg = JsonSerializer.Serialize(msg);
        <script>
        alert('@Html.Raw(jsonMsg)');
        </script>
    }
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
<link rel="stylesheet" href="~/css/_layout.css" asp-append-version="true"/>
<link rel="stylesheet" href="~/css/index.css" asp-append-version="true"/>



<div class="container">
    <!-- Main Content Section -->
    <div class="text-center main-content">
        <h1 class="page-title">Welcome to iReadIt</h1>
        <p class="lead">
            Borrow and read eBooks easily, anywhere and anytime.
        </p>
        <br />
    </div>
</div>
@if (!string.IsNullOrEmpty(userName))
{
    <div class="text-center">
        <a href="@Url.Action("Profile", "User")" class="btn btn-primary">Go to Profile</a>
    </div>
}
<!-- Featured Books Section -->
<div class="featured-books">
    <h2 class ="featured_books_title">Featured Books</h2>
    <br>
    <div class="row">
        @foreach (var book in Model.Take(4)) // First row of 4 books
        {
            <div class="col-md-3">
                <a href="@Url.Action("BookDetails", "Book", new { isbn = book.isbnNumber })" class="card book-card mb-4">
                    <img src="~/images/Harry Potter 1.jpg" class="card-img-top book-img" alt="@book.Title">
                    <div class="card-body">
                        <h5 class="card-title">@book.Title</h5>
                        <p class="card-text"><strong class="text-muted"><u>Format:</u> @book.Format</strong></p>
                        <p class="card-text"><strong class="text-muted"><u>Buy Price:</u> @book.BuyPrice$</strong></p>
                    </div>
                </a>
            </div>
        }
    </div>
    <div class="row">
        @foreach (var book in Model.Skip(4).Take(4)) // Second row of 4 books
        {
            <div class="col-md-3">
                <a href="@Url.Action("BookDetails", "Book",new {isbn =  book.isbnNumber})" class="card book-card mb-4">
                    <img src="~/images/Harry Potter 1.jpg" class="card-img-top book-img" alt="@book.Title">
                    <div class="card-body">
                        <h5 class="card-title">@book.Title</h5>
                        <p class="card-text"><strong class="text-muted"><u>Format:</u> @book.Format</strong></p>
                        <p class="card-text"><strong class="text-muted"><u>Buy Price:</u> @book.BuyPrice$</strong></p>
                    </div>
                </a>
            </div>
        }
    </div>
</div>


<!-- The Overlay (always visible) -->
<div class="modal-overlay"></div>

