@model IEnumerable<eLibrary.Models.BookReview>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

<head>
    <h2 class="text-white" style="margin-top: 20px; margin-bottom: 20px;">@ViewBag.CurrentBookTitle Reviews :</h2>
</head>
<div class="reviews-section mt-4">
    <div class="row">
        @foreach (var review in Model)
        {
            <div class="col-md-3">
                <div class="card review-card mb-4">
                    <div class="card-body review-card-body">
                        <h5 class="review-card-title">@review.Title</h5>
                        <p class="review-card-text"><strong class="text"><u>By:</u> @review.UserName</strong></p>
                        <div class="stars">
                            @for (int i = 0; i < 5; i++)
                            {
                                <i class="fa @(i < review.Stars ? "fa-star" : "fa-star-o")" style="color: @(i < review.Stars ? "gold" : "gray");"></i>
                            }
                        </div>
                        <p class="review-card-text">
                            <strong class="text"><u>Review:</u> @review.Content</strong>
                        </p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<style>
    .review-card {
        height: 100%;
        background-color: #ffffff !important;
        color: #000000 !important;
        border: 1px solid #444444 !important;
        transition: transform 0.3s ease;
        margin: 0 10px;
    }
    
    .review-card:hover {
        transform: translateY(-5px);
    }

    .review-card-body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 1rem;
        background-color: #ffffff !important;
        color: #000000 !important;
        border: 1px solid #444444 !important;
    }

    .review-card-text {
        font-size: 0.9rem;
        margin-bottom: 0.5rem;
    }
</style>
