@using Microsoft.AspNetCore.Mvc.TagHelpers
@model eLibrary.Models.Book
@{
    Layout = "_Layout";
    ViewData["Title"] = "Add a Book";
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
<link rel="stylesheet" href="~/css/Layout.css" asp-append-version="true"/>
<link rel="stylesheet" href="~/css/AddBook.css" asp-append-version="true"/>

<div class="container mt-3">
    <h2 class="text-center mb-4">Add a Book</h2>
    <form action="@Url.Action("ConfirmAddBook", "Book")" method="post" class="border rounded p-3 shadow-sm">
        <div class="row g-2"> <!-- Grid row -->
            <div class="col-md-6">
                <label for="title" class="form-label">Title</label>
                <input type="text" class="form-control" id="title" name="Title" value="@Model.Title">
                @Html.ValidationMessageFor(b => b.Title)
            </div>
            <div class="col-md-6">
                <label for="author" class="form-label">Author</label>
                <input type="text" class="form-control" id="author" name="Author" value="@Model.Author">
                @Html.ValidationMessageFor(b => b.Author)
            </div>
            <div class="col-md-6">
                <label for="isbn" class="form-label">ISBN Number</label>
                <input type="text" class="form-control" id="isbn" name="ISBN" value="@Model.ISBN">
                @Html.ValidationMessageFor(b => b.ISBN)
            </div>
            <div class="col-md-6">
                <label for="publisher" class="form-label">Publisher</label>
                <input type="text" class="form-control" id="publisher" name="Publisher" value="@Model.Publisher">
                @Html.ValidationMessageFor(b => b.Publisher)
            </div>
            <div class="col-md-6">
                <label for="year" class="form-label">Year</label>
                <input type="number" class="form-control" id="year" name="Year" value="@Model.Year">
                @Html.ValidationMessageFor(b => b.Year)
            </div>
            <div class="col-md-6">
                <label for="buyPrice" class="form-label">Buy Price</label>
                <input type="number" class="form-control" id="buyPrice" name="BuyPrice" value="@Model.BuyPrice">
                @Html.ValidationMessageFor(b => b.BuyPrice)
            </div>
            <div class="col-md-6">
                <label for="borrowPrice" class="form-label">Borrow Price</label>
                <input type="number" class="form-control" id="borrowPrice" name="BorrowPrice" value="@Model.BorrowPrice">
                @Html.ValidationMessageFor(b => b.BorrowPrice)
            </div>
            <div class="col-md-6">
                <label for="ageLimit" class="form-label">Age Limit</label>
                <input type="number" class="form-control" id="ageLimit" name="AgeLimit" value="@Model.AgeLimit">
                @Html.ValidationMessageFor(b => b.AgeLimit)
            </div>
            <div class="col-md-6">
                <label for="genre" class="form-label">Genre</label>
                <select class="form-select" id="genre" name="Genre" required>
                    <option value="Fiction">Fiction</option>
                    <option value="NonFiction">Non-Fiction</option>
                    <option value="Mystery">Mystery</option>
                    <option value="Fantasy">Fantasy</option>
                    <option value="Biography">Biography</option>
                    <option value="ScienceFiction">Science Fiction</option>
                    <option value="Romance">Romance</option>
                    <option value="Thriller">Thriller</option>
                    <option value="Horror">Horror</option>
                    <option value="Historical">Historical</option>
                </select>
                @Html.ValidationMessageFor(b => b.Genre)
            </div>
            <div class="col-md-6">
                <label for="format" class="form-label">Format</label>
                <select class="form-select" id="format" name="Format" required>
                    <option value="" disabled selected>Select a format</option>
                    <option value="PDF">PDF</option>
                    <option value="ePub">ePub</option>
                    <option value="f2b">fb2</option>
                    <option value="mobi">mobi</option>
                </select>
                @Html.ValidationMessageFor(b => b.Format)
            </div>
        </div>
        <div class="text-center mt-3">
            <button type="submit" class="btn btn-primary btn-lg">Add Book</button>
        </div>
    </form>
</div>

<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Validations -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>


