@using Microsoft.AspNetCore.Mvc.TagHelpers
@using System.Text.Json
@model IEnumerable<eLibrary.Models.Book>
@inject IHttpContextAccessor _context;
@{
    ViewBag.Title = "Books Gallery";
    Layout = "_Layout";
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
<link rel="stylesheet" href="~/css/allbooks.css" asp-append-version="true"/>


<div class="featured-books">
    <h1 class="books_gallery_title">Books Gallery</h1>
    <br />
    <br />
    @{
        int totalBooks = Model.Count();
        int booksPerRow = 4;
        int totalRows = (int)Math.Ceiling(totalBooks / (double)booksPerRow); // Calculate the total number of rows
    }
    @for (int rowIndex = 0; rowIndex < totalRows; rowIndex++)
    {
        <div class="row">
            @foreach (var book in Model.Skip(rowIndex * booksPerRow).Take(booksPerRow))
            {
                <div class="col-md-3">
                    <a href="@Url.Action("BookDetails", "Book", new { isbn = book.isbnNumber })" class="card book-card mb-4">
                        <img src="~/images/Harry Potter 1.jpg" class="card-img-top book-img" alt="@book.Title">
                        <div class="card-body">
                            <h5 class="card-title">@book.Title</h5>
                            <p class="card-text"><strong class="text-muted"><u>Format:</u> @book.Format</strong></p>
                            <p class="card-text"><strong class="text-muted"><u>Buy Price:</u> @book.BuyPrice$</strong></p>
                            <p class="card-text"><strong class="text-muted"><u>Borrow Price:</u> @book.BorrowPrice$</strong></p>
                        </div>
                    </a>
                </div>
            }
        </div>
    }
</div>
