@model eLibrary.Models.BookList

<h1>Books List</h1>

@if (Model.Books.Count != 0)
{
    <ul>
        @foreach (var book in Model.Books)
        {
            <li>
                <h3>@book.Title</h3>
                <p><strong>Author:</strong> @book.Author</p>
                <p><strong>Price:</strong> @book.BuyPrice</p>
                <p><strong>Borrow Price:</strong> @book.BorrowPrice</p>
                <p><strong>Year:</strong> @book.Year</p>
                <p><strong>Format:</strong> @book.Format</p>
                <p><strong>Age Limit:</strong> @book.AgeLimit</p>
                <hr />
            </li>
        }
    </ul>
}
else
{
    <p>No books found.</p>
}
