@using Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<eLibrary.Models.CartItem>
@{
    //ViewData["Title"] = "Checkout";
    //Layout = "_Layout";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="/css/_layout.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
</head>
<body>
@* Header Section *@
<div class="container-general">
    <main role="main" class="pb-3">
        <div class="container">
            <h1>Checkout</h1>
            @if (Model == null || !Model.Any()) // Check if the cart is empty
            {
                <p>No items in the cart.</p>
            }
            else
            {
                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>Book Title</th>
                        <th>ISBN</th>
                        <th>Quantity</th>
                        <th>Price Per Unit</th>
                        <th>Total Price</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Title</td>
                            <td>@item.ISBN</td>
                            <td>@item.Quantity</td>
                            <td>@item.Price</td>
                            <td>@(item.Quantity * item.Price)</td>
                        </tr>
                    }
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="4" class="text-end">Order Price</td>
                        <td>@Model.Sum(item => item.Quantity * item.Price)</td>
                    </tr>
                    </tfoot>
                </table>
            }
            <div class="text-center">
                <a href="#" class="btn btn-lg btn-primary" id="checkout-button">Checkout</a>
            </div>
        </div>
    </main>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="https://www.paypal.com/sdk/js?client-id=@(ViewBag.PaypalClientID)&currency=USD"></script>

<div class="mx-auto p4 rounded border shadow" style="width: 420px;">
    <h2 class="text-center mb-5">Complete your order with PayPal</h2>
    <br />
    <div id="notification-container"></div>
    <div id="paypal-button-container"></div>
</div>


<script>
    paypal.Buttons({
        async createOrder() {
            const response = await fetch("@Url.Action("CreateOrder", "Checkout")", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify({
                    amount : @Model.Sum(item => item.Quantity)
                })
            });
            const order = await response.json();
            return order.id;
        },   //add here Cancel / Error Handling
        async onApprove(data) {
            // Capture the funds from the transaction.
            const response = await fetch("@Url.Action("CompleteOrder", "Checkout")", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify({
                    orderID: data.orderID
                })
            })

            const details = await response.json();
            if (details == "success") {
                document.getElementById("notification-container").innerHTML =
                    `
                    <div class="alert alert-success alert-dismissible shadow" role="alert">
                        <strong>The Order is created Successfully!</strong>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                `;
            }
            else {
                document.getElementById("notification-container").innerHTML =
                    `
                    <div class="alert alert-success alert-dismissible shadow" role="alert">
                        <strong>Failed to create the order.</strong>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                `;
            }
            // Show success message to buyer
            //alert(`Transaction completed by ${details.payer.name.given_name}`); -----deleted in video
        },
    }).render('#paypal-button-container');
</script>


</body>
</html>
